
*{
    margin:0%;
    font-family: "Raleway", sans-serif;
}
body{
    background-color: rgb(12, 18, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.img{
    z-index: 0; 
    position: absolute;
    bottom: 0 ;
    right: 0; 
    
}
section{   
    display: flex;
    align-items: center;
    border: 10px;
}
.boxI{
    z-index: 1;
    background-color: #1c2b66;
    border-radius: 12.88px 64.38px 12.88px 12.88px; 
    width: 269.11px;
    height: 171.25px;
    display: flex;
    justify-items: center;
    align-items:center;
    flex-direction:column;
    margin: 100px;
}
.logo{
    height: 36.03px;
    width: 108.16px;
    margin-top:40px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    justify-content:s;
    margin-top:20px;
    margin-right: 110px;
    align-items: center;
}
.boxIII{
    display: flex;
    justify-content:right;
    align-items:flex-end;
    position:relative;
    bottom:30px;
}
.boxII{
    z-index: 1;
    background-color: #1c2b66;
    width: 48%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12.88px;
    color: hsl(243, 100%, 93%);
}
.bar{
    display: flex;
    align-items: center;
    z-index: 2;
    width: 288px;
    height: 12px;
    background-color: #151e49;
    border-radius: 20px;
}

.progressbar{
    z-index: 3;
    width: 270px;
    height: 12px;
    background: linear-gradient(267.9deg, #FA4D91 21.63%, #FE9E97 77.12%);
    border-radius: 20px;
    position: relative;
    animation: smooth 5s;
    
}
@keyframes smooth{
    from {width: 0%;} 
    to {width: 93.5%;}
}
.progressbar::after{
    content: '';
    width: 10%;
    height: 10px;
    background-color: white;
    position:relative;
    border-radius: 5px;
    right: 3px;
    top: 2px;
}
.pin{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    float: right;
    margin: 1px;
}

h1{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.document:hover{
    animation-name: document;
    animation-fill-mode: forwards;
}
@keyframes document{
    100%{
        background-color: #0C122C;
        padding: 5px;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }
}
.folder:hover{
    animation-name: folder;
    animation-fill-mode: forwards;
}
@keyframes folder{
    100%{
        background-color: #0C122C;
        padding: 5px;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }
}
.upload:hover{
    animation-name: upload;
    animation-fill-mode: forwards;
}
@keyframes upload{
    100%{
        background-color: #0C122C;
        padding: 5px;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }
}
@media only screen and (max-width: 600px){
    body{
        flex-direction: column;
    } 
}



