* {
  margin: 0;
  height: 0;
}
body {
  font-family: "inter" sans-serif;
}


.fondI {
  display: flex;
  position: relative;
  top: 60px;
  left: 600px;
  height: 520px;
  width: 535px;
}
.fondII {
  z-index: 0;
  display: flex;
  position: relative;
  bottom: 50px;
  left: 0.1px;
  width: 640px;
  height: 170px;
}
.fondIII {
  display: flex;
  position: relative;
  bottom: 585px;
  left: 180px;
  width: 152px;
  height: 102px;
}
img {
  display: flex;
  position: relative;
  bottom: 684px;
  left: 645px;
  height: 430px;
  width: 435px;
}
.rectangle {
  display: flex;
  position: relative;
  width: 127px;
  height: 55px;
  bottom: 710px;
  left: 665px;
}
.bottons {
  height: 30px;
  display: flex;
  position: relative;
  left: 702px;
  bottom: 752px;
  border-radius: 25px;
}
.bottom-left {
  display: flex;
  position: relative;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 22px;
  right: 14px;
  border: 0px;
  background-color: white;
}
.bottom-right {
  display: flex;
  position: relative;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 22px;
  left: 7px;
  border: 0px;
  background-color: white;
}
.text {
  z-index: 1;
  display: flex;
  position: relative;
  text-align: left;
  top: 172px;
  left: 80px;
  font-size: 240%;
  color: #202046;
}
.name {
  z-index: 1;
  display: flex;
  position: relative;
  top: 410px;
  left: 88px;
  font-size: 25px;
  color: #202046;
}
.profession {
  display: flex;
  position: relative;
  top: 410px;
  font-size: 26px;
  left: 250px;
  color: #d6d6d6;
}
.img2 {
  display: flex;
  position: relative;
  bottom: 684px;
  left: 645px;
  height: 430px;
  width: 435px;
}
.text2{
  z-index: 1;
  display: flex;
  position: relative;
  text-align: left;
  top: 172px;
  left: 80px;
  font-size: 240%;
  color: #202046;

}
.name2{
  z-index: 1;
  display: flex;
  position: relative;
  top: 410px;
  left: 88px;
  font-size: 25px;
  color: #202046;
}
.profession2{
  display: flex;
  position: relative;
  top: 410px;
  font-size: 26px;
  left: 250px;
  color: #d6d6d6;
}
.text3{
  z-index: 1;
  display: flex;
  position: relative;
  text-align: left;
  top: 172px;
  left: 80px;
  font-size: 240%;
  color: #202046;

}
.name3{
  z-index: 1;
  display: flex;
  position: relative;
  top: 435px;
  left: 88px;
  font-size: 25px;
  color: #202046;
}
.profession3{
  display: flex;
  position: relative;
  top: 435px;
  font-size: 26px;
  left: 250px;
  color: #d6d6d6;
}
@media only screen and (max-width:600px){
  .fondI{
    width: 375px;
    height: 363px;
    left:90px;
    top: 4px;
  }

.fondII{
  width: 312px;
  height: 64px;
  top: 203px;
}

.fondIII{
  width: 85px;
  height: 69px;
}
.img{
  width: 288px;
  height: 303px;
  left: 140px;
  bottom: 460px;
}
.rectangle{
  width: 103px;
  height: 42px;
  left: 225px;
  bottom: 485px;
}
.bottons{
 left: 250px;
 bottom: 520px;
}
.text{
  font-size: 180%;
  top: 370px;
  left: 45px;
}
.name{
  top: 540px;
  font-size: 20px;
  left: 45px;
}
.profession{
  top: 540px;
  font-size: 20px;
  left: 170px;
}
.text2{
  font-size: 180%;
  top: 370px;
  left: 40px;
}
.name2{
  top: 540px;
  font-size: 20px;
  left: 40px;
}
.profession2{
  top: 540px;
  font-size: 20px;
  left: 160px;
}
.text3{
  font-size: 180%;
  top: 360px;
  left: 65px;
}
.name3{
  top: 560px;
  font-size: 20px;
  left: 60px;
}
.profession3{
  top: 560px;
  font-size: 20px;
  left: 185px;
}

}